h3 /*Использование абсолютного позиционирования*/ 
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;   
}
h1 { 
    font-size: 50px;
    margin: 20px 0 40px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(1, 12, 26);
    color: midnightblue; 
}
/* селектор класса*/
.selector_class /*Используя селектор CLASS для показа использования стиля*/
{   background-color:rgb(62, 148, 163);
    font-size: 40px;  
    font-style: italic;/*курсивный шрифт */
    text-align: center;/*Текст по центру */
}
/* обращаемся к конкретному элементу через индификатор*/
#ID /*Используя селектор ID для показа использования стиля*/
{
    color:rgb(196, 124, 178);
    font-size: 40px;
    background-color: rgb(41, 41, 107);
    text-align: right;/*Текст по правому краю */
} 

h4 /* Использование относительного позиционирования*/
{
    position:relative;
    top: 10px;
    left: 100px;
    background: rgb(122, 214, 191);
    
}  
/* Использование плавающая модель float*/
.float1 {
    float: left; 
    clear: both;
    background: rgb(0, 0, 63); 
    border: 2px solid rgb(162, 0, 255);
    padding: 15px;
    margin-left: 30px;
    color: white;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 10px; /* разделение текста на 10 пикселей*/
    padding: 0px; /* растояние между содержимым блокам и его границей*/
    font-family: 'Times New Roman', Times, serif; /*шрифт текста*/
    background: rgb(149, 168, 199) /*rgb(135, 231, 255)*/
}

details summary::-webkit-details-marker {
    display: none
} /* Убираем стандартный маркер Chrome */

details > summary {
    list-style: none;
}/* Убираем стандартный маркер Firefox */

  .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
} /* положение аккордионов*/
.accordion{
    max-width: 500px;
    box-shadow: 0 0 12px 4px rgba(0, 0 , 0 , 0.5);
    border-radius: 10px;
    overflow: hidden;
}
.accordion_item {
    background: white;/* цвет внутри аккордиона*/
    color: black;
} /* Изменения текстуры*/
.accordion_title{

    text-align: center;
    font-size: 20px;
    background-color: rgb(220, 220, 220);
    outline: none;
    cursor: pointer;
    border-bottom:  1 px solid #777;
    padding: 10px 40px 10px 20px;
    transform: 0.3s all;   
}
.accordion_title:hover {
    background-color: rgb(230, 230, 230);
}

.accordion_body {
    padding: 20px;
}